# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

certs/
pkg/

databox-jar

\.DS_Store

app-os-monitor/

sdk/

build/

driver-os-monitor/

driver-sensingkit/

lib-node-databox/

nodeZestClient/

ocaml_opam_arm64v8/

bin/

scripts/admin/config\.json

scripts/admin/config-docs\.json

TODO\.md
