doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Databox Minimal Dashboard
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
		script(src='/socket.io/socket.io.js')
		style.
			body {
			min-height: 2000px;
			padding-top: 70px;
			}
			#app-ui-iframe {
			width: 100%;
			height: 100%;
			}
	body
		nav.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#') Databox Placeholder Dashboard
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li.active
							a(href='#overview', data-toggle='tab') Overview
						li
							a(href='#running', data-toggle='tab') Running Apps
						li
							a(href='#all', data-toggle='tab') All Apps
						li
							a(href='#store', data-toggle='tab') Store
		.tab-content
			#overview.tab-pane.fade.in.active
				.container
					.jumbotron
						h4 Some kind of native data overview app
						p ...
					.panel.panel-default
						.panel-heading
							h3.panel-title Broker Control Panel
						.panel-body
							div
								| Status: 
								span#broker-status Running
								button#broker-status-toggle-button.btn.btn-default(type='button', data-loading-text='Toggling...', autocomplete='off', style='float: right;') Toggle
								iframe(frameBorder='0', width='100%', style='height: 80vh;', src='/broker/')
							//sandbox='allow-forms allow-scripts', 
			#running.tab-pane.fade
				.container
					.alert.alert-info(role='alert')
						strong Info:
						|  Click an app for it&apos;s UI
					.alert.alert-warning(role='alert')
						strong Warning:
						|  Non-app Docker containers (e.g. broker) are not yet filtered
					.list-group
			#all.tab-pane.fade
				.container
					.alert.alert-info(role='alert')
						strong Info:
						|  Click an app to run
					.alert.alert-warning(role='alert')
						strong Warning:
						|  Non-databox Docker containers are not yet filtered
					.list-group
			#store.tab-pane.fade
				.container
					h4 Repositories on Private Docker Registry
					p
						| Catalogue source: 
						a(href='https://amar.io:5000/v2/_catalog') https://amar.io:5000/v2/_catalog
					ul.list-group
						img(src='spinner.svg', style='float: left;')
						h4 Loading...
		#app-ui.modal.fade(tabindex='-1', role='dialog', aria-labelledby='app-ui-label')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
						h4#app-ui-title.modal-title Databox App
					.modal-body
						iframe#app-ui-iframe(sandbox='allow-forms allow-scripts', width='100%', style='height: 80vh;')
					.modal-footer
		script(src='/index.js')
