doctype html
html
	head
		title Databox
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='mobile-web-app-capable', content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="theme-color", content="#00838F")
		link(rel="apple-touch-icon", sizes="57x57", href="/icons/apple-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="76x76", href="/icons/apple-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="120x120", href="/icons/apple-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="152x152", href="/icons/apple-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="/icons/apple-icon-180x180.png")
		link(rel="icon" type="image/png", sizes="192x192", href="/icons/android-icon-192x192.png")
		link(rel="icon", type="image/png", sizes="32x32", href="/icons/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="96x96", href="/icons/favicon-96x96.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/icons/favicon-16x16.png")
		link(rel="manifest", href="/icons/manifest.json")
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='/styles/databox.css')
	body.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		script(src='https://code.jquery.com/jquery-3.1.0.min.js')
		script(src='https://cdn.jsdelivr.net/riot/2.6/riot.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/templates/app-list.js')
		script(src='/templates/app-store.js')
		script(src='https://code.getmdl.io/1.2.1/material.min.js', defer)
		header.mdl-layout__header
			div.mdl-layout__header-row
				span.mdl-layout-title
					| Databox
			div.mdl-layout__tab-bar.mdl-js-ripple-effect
				a.mdl-layout__tab.is-active(href="#apps")
					| Installed Apps
				a.mdl-layout__tab(href="#store")
					| App Store
		main.mdl-layout__content
			section.mdl-layout__tab-panel.is-active(id="apps")
				app-list
			section.mdl-layout__tab-panel(id="store")
				app-store
		script.
			riot.mount('*');