doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name="theme-color", content="#00838F")
		title Databox Slayer
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='/styles/databox.css')
		link(rel="icon", type="image/png", sizes="192x192", href="/icons/android-icon-192x192.png")
		link(rel="icon", type="image/png", sizes="32x32", href="/icons/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="96x96", href="/icons/favicon-96x96.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/icons/favicon-16x16.png")
	body.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			a.mdl-layout-icon.mdl-button.mdl-js-button.mdl-button--icon(href="/")
				i.material-icons
					| arrow_back
			div.mdl-layout__header-row
				span.mdl-layout-title
					| #{appname}
		main.mdl-layout__content
			app-manifest
				div.mdl-spinner.mdl-js-spinner.is-active
		script(src='https://code.jquery.com/jquery-3.1.0.min.js')
		script(src='https://cdn.jsdelivr.net/riot/2.6/riot.min.js')
		script(src='/templates/app-manifest.js')
		script(src='https://code.getmdl.io/1.2.1/material.min.js', defer)
		script.
			riot.mount('app-manifest', {'name': "#{appname}", 'validate': false});
